@import url('themes.css');

/************/
/* ABOUT-ME */
/************/
.header .flex-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .flex-header > span {
    font-size: 0.8rem;
    background-color: var(--text-color-tertiary);
    border-radius: 12px;
    padding: 4px 10px;
}

.header .flex-header > * {
    margin: 0;
}

.header img {
    width: 80px;
    border-radius: 50%;
}

.header span {
    color: var(--title-color);
}

/************/
/* PROJECTS */
/************/
.projects img {
    width: 100%;
}

.projects .project > .images {
    display: flex;
    width: 100%;
    gap: 8px;
    margin-bottom: 12px;
}

.projects .project .list-links:nth-of-type(1) .list-item {
    font-size: 12px;
    background-color: var(--text-color-tertiary);
    padding: 4px 8px;
}
